#nav_link,
#nav_link
div{
    font-weight: bolder;
    font-family: Verdana;
    color: #000000;
    opacity: 1.0;
}

#logobutton,
#logobutton
button{
    border: none;
    background-color: inherit;
}
span{
    color:white;
}

#sidebarMenu,
#sidebarMenu
col-md-3 col-lg-3 d-md-block bg-light sidebar collapse.nav{
    background: linear-gradient(to top, #0066ff 23%, #66ffcc 80%); opacity: 0.65;
}

#logoandcustomer,
#logoandcustomer
.p {
    font-family: 'Brush Script MT', cursive;
    padding-top: 5%;
    line-height: 20px;
    font-size: 30px;
    color: white;
}

.i {
    font-family: 'Brush Script MT', cursive;
    font-size: 35px;
    color: #00006e;
}

#stockbox,
#stockbox
.p {
    padding-top: 0.7%; padding-left: 1%;
}

#piediv,
#piediv
.div{
    width: 40%;
}

#divisore,
#divisore
.div{
    width: 2.5%;
}

#rendimento,
#rendimento
.div{
    width: 56.2%;
}

#contenitore,
#contenitore
.div{
    padding-left: 1.2%;
}

#percentuale,
#percentuale
.b{
    font-size: 60px;
    font-family: Verdana;
}

#valore,
#valore
.b{
    font-size: 60px;
    font-family: Verdana;
    padding-left: 5%;
}

#frecce,
#frecce
{
    width:70px;
    height:70px;
}


@media (max-width: 900px) {
    #sidebarMenu,
    #sidebarMenu
    col-md-3 col-lg-3 d-md-block bg-light sidebar collapse.nav {
        background: linear-gradient(to top, #0066ff 23%, #66ffcc 80%);
        opacity: 0.97;
    }


    #logoandcustomer,
    #logoandcustomer
    .p {
        font-family: 'Brush Script MT', cursive;
        padding-top: 5%;
        line-height: 20px;
        font-size: 26px;
        color: white;
    }

    .span{
        font-family: 'Brush Script MT', cursive;
        font-size: 22px;
        color: #00006e;
    }

    #stockbox,
    #stockbox
    .p {
        padding-top: 2%; padding-left: 1.5%;
    }

    #piediv,
    #piediv
    .div{
        width: 100%;
    }

    #divisore,
    #divisore
    .div{
        width: 100%;
    }

    #rendimento,
    #rendimento
    .div{
        width: 100%;
    }

    #contenitore,
    #contenitore
    .div{
        width:99.95%;padding-left: 6%
    }

    #percentuale,
    #percentuale
    .b{
        font-size: 40px;
        font-family: Verdana;
    }

    #valore,
    #valore
    .b{
        font-size: 40px;
        font-family: Verdana;
    }

    #frecce,
    #frecce
    {
        width:40px;
        height:40px;
    }
    #chartdiv,
    #chartdiv
    {display: none;}


}

/*Varie modifiche per la responsivness del sito. L'unica differenza sostanziale è che nella dashboard per i dispositivi mobili non viene mostrata la possibilità di plottare il grafico, perché risultava confusionaria a mio avviso. */